<%= render 'shared/h1' do %>
  <div class="flex-grow-1"><%= @animated_gif.title %></div>
  <%= render 'shared/btn_group' do %>
      <%= render 'shared/btn_add', href: edit_animated_gif_path(@animated_gif) %>
      <%= render 'shared/btn_delete', href: @animated_gif %>
  <% end %>
<% end %>
<div id="animated_blocks" class="row row-cols-3 row-cols-md-3 g-4">

  <% @animated_gif.animated_blocks.each do |animated_block| %>
  
    <div class="col">
      <div class="card card text-center">
        <div class="card-body ratio ratio-16x9" style="color: <%= animated_block.style.text_color %>;background-color: <%= animated_block.style.bg_color %>;">
          <p class="card-text">
            <%= animated_block.first_block_line %><br/>
            <%= animated_block.second_block_line %><br/>
            <%= animated_block.third_block_line %>
          </p>
        </div>

        <div class="card-footer">
          <div class="btn-group btn-group-sm" role="group">
            <%= link_to "Edit", edit_animated_block_path(animated_block), class: "btn btn-primary" %> 
            <%= link_to "Copy", copy_animated_block_path(animated_block), class: "btn btn-primary" %>
            <%= button_to "remove", animated_block, method: :delete, class: "btn btn-primary" %>
          </div>
          <div class="btn-group shadow-0" role="group" aria-label="Basic example">
            <%= link_to "Edit", edit_animated_block_path(animated_block), class: "btn btn-outline-secondary" %> 
             <%= link_to "Delete", animated_block_path(animated_block), class: "btn btn-outline-secondary", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>      
        </div>
      </div>
    </div> 

  <% end %>

  <div class="col">
    <div class="card card text-center">
      <div class="card-body ratio ratio-16x9">
      </div>
    </div>
    <div class="card-footer">
      <%= link_to "New animated block", new_animated_gif_animated_block_path(@animated_gif) %>
    </div>
  </div> 

</div>



<div>
  <%= link_to "Back to animated gifs", animated_gifs_path %>


</div>
